@font-face {
  font-family: "Roboto regular";
  src: url("Roboto/Roboto-regular.ttf");
  src: url("Roboto/roboto-regular.woff") format("woff"), url("Roboto/roboto-regular.eot") format("eot"), url("Roboto/roboto-regular.svg") format("svg");
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/shrikhand-regular.ttf");
  src: url("Shrikhand/shrikhand-regular.woff") format("woff"), url("Shrikhand/shrikhand-regular.eot") format("eot"), url("Shrikhand/shrikhand-regular.svg") format("svg");
}

body {
  font-family: "Roboto regular";
}

.header {
  padding: 1em 1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  position: relative;
}

.header--withback {
  position: relative;
}

.header__logo {
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  color: black;
  position: absolute;
  left: 2em;
}

.restaurantImg {
  max-width: 100%;
  max-height: 32em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em 0 1em;
}

.menu__title {
  font-family: "Shrikhand";
}

.menu__btn {
  height: 2em;
  width: 2em;
  font-size: 1.2em;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__btn:hover::before {
  opacity: 1;
}

.menu__btn::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-transition: 1s;
  transition: 1s;
}

.menu__like {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.menu__btn:hover .menu__like--noR {
  opacity: 0;
}

.submenus {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 64rem) {
  .submenus {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5em;
  font-weight: normal;
}

.submenu__title::after {
  content: "";
  width: 3em;
  height: 0.25em;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes FadeinUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes FadeinUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.menuItem {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1em;
  border-radius: 0.75em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1em 0;
  -webkit-animation: FadeinUp 1s;
          animation: FadeinUp 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
}

.menuItem__decription {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
}

.menuItem__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5em;
  margin-right: 2em;
}

.menuItem__confirmation {
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  margin: -1em -6em -1em -1em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1em;
}

.menuItem:active .menuItem__confirmation {
  margin-right: -1em;
}

.menuItem__checkIcon {
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItem:hover .menuItem__checkIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItem:active .menuItem__checkIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItem__icon {
  color: #99E2D0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 3em 0;
}

.btn__command {
  font-family: "Roboto regular";
  color: white;
  font-size: 1.1em;
  border: 0;
  padding: 0.75em 3em;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  cursor: pointer;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn__command:hover {
  text-decoration: none;
  opacity: 0.85;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.footer {
  background-color: #353535;
}

.footer .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__listElt {
  margin: 0.5em 0;
}

.footer__listElt:first-child {
  margin-top: 0;
}

.footer__listElt:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2em;
  margin-right: 0.5em;
}
/*# sourceMappingURL=style1.css.map */