@font-face {
  font-family: "Roboto regular";
  src: url("Roboto/Roboto-regular.ttf");
  src: url("Roboto/roboto-regular.woff") format("woff"), url("Roboto/roboto-regular.eot") format("eot"), url("Roboto/roboto-regular.svg") format("svg");
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/shrikhand-regular.ttf");
  src: url("Shrikhand/shrikhand-regular.woff") format("woff"), url("Shrikhand/shrikhand-regular.eot") format("eot"), url("Shrikhand/shrikhand-regular.svg") format("svg");
}

body {
  font-family: "Roboto regular";
}

.header {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.header__title {
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}

.local__icon {
  margin-right: 1em;
}

.local__text {
  font-weight: 700;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  text-align: center;
}

.info__title {
  margin: 0;
}

.info__description {
  margin: 1.5rem 0;
  font-weight: 300;
}

.info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  margin: 1.5em 0;
}

.info__btn__button {
  width: 12.5rem;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  padding: 1rem;
  border-radius: 50px;
  color: inherit;
}

.info__btn__button:hover {
  opacity: 0.85;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.fonct__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  counter-reset: compteListe;
  margin: 0;
  padding: 0;
}

.fonct__step {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
  background-color: #F6F6F6;
  border-radius: 1.25em;
  -webkit-box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.25);
          box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.25);
  margin: 1em 0 1em 0.75em;
  position: relative;
}

.fonct__step .text {
  font-weight: bold;
}

.fonct__step::before {
  content: counter(compteListe);
  width: 1.5em;
  height: 1.5em;
  color: white;
  counter-increment: compteListe 1;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356dc;
  position: absolute;
  left: -0.75em;
}

.fonct__step:hover {
  background-color: #F5EDFF;
}

.fonct__step:hover .fonct__icon {
  color: #9356DC;
}

.fonct__icon {
  margin-right: 1em;
  color: grey;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menus .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 3px 10px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}

.menus .menu__img {
  height: 12.5em;
  width: 25em;
  border-radius: 1em 1em 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus .menu__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5em;
  border-radius: 0.125em;
  position: absolute;
  top: 1em;
  right: 0.52em;
}

.menus .menu__decription {
  margin: 0;
  padding: 0;
  font-family: "Roboto regular";
}

.menus .menu__footer {
  padding: 0 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus .menu__btn {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2em;
}

.menus .menu__like {
  background-color: white !important;
}

.footer {
  background-color: #353535;
}

.footer .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__listElt {
  margin: 0.5em 0;
}

.footer__listElt:first-child {
  margin-top: 0;
}

.footer__listElt:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2em;
  margin-right: 0.5em;
}
/*# sourceMappingURL=style.css.map */