@font-face {
  font-family: "Roboto regular";
  src: url("Roboto/roboto-regular.woff");
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/shrikhand-regular.woff");
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  75% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  75% {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  background-color: #353535;
}

.footer .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__listElt {
  margin: 0.5em 0;
}

.footer__listElt:first-child {
  margin-top: 0;
}

.footer__listElt:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2em;
  margin-right: 0.5em;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  -webkit-animation: loader 0.1s;
          animation: loader 0.1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader__item--1 {
  background-color: #9356DC;
}

.loader__item--2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader__item--3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body {
  font-family: "Roboto regular";
}

.header {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.header__title {
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
}

.local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}

.local__icon {
  margin-right: 1em;
}

.local__text {
  font-weight: 700;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  text-align: center;
}

.info__title {
  margin: 0;
}

.info__description {
  margin: 1.5rem 0;
  font-weight: 300;
}

.info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  margin: 1.5em 0;
}

.info__btn__button {
  width: 12.5rem;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  padding: 1rem;
  border-radius: 50px;
  color: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info__btn__button:hover {
  opacity: 0.85;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.fonct__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  counter-reset: compteListe;
  margin: 0;
  padding: 0;
}

.fonct__step {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
  background-color: #F6F6F6;
  border-radius: 1.25em;
  -webkit-box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.25);
          box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.25);
  margin: 1em 0 1em 0.75em;
  position: relative;
}

.fonct__step .text {
  font-weight: bold;
}

.fonct__step::before {
  content: counter(compteListe);
  width: 1.5em;
  height: 1.5em;
  color: white;
  counter-increment: compteListe 1;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356dc;
  position: absolute;
  left: -0.75em;
}

.fonct__step:hover {
  background-color: #F5EDFF;
}

.fonct__step:hover .fonct__icon {
  color: #9356DC;
}

.fonct__icon {
  margin-right: 1em;
  color: grey;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menus .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 3px 10px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}

.menus .presentation__img {
  width: 100%;
  height: 12.5em;
  border-radius: 1em 1em 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 60em) {
  .menus .presentation__img {
    width: 25em;
  }
}

.menus .presentation__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5em;
  border-radius: 0.125em;
  position: absolute;
  top: 1em;
  right: 0.52em;
}

.menus .presentation__decription {
  margin: 0;
  padding: 0;
  font-family: "Roboto regular";
}

.menus .presentation__footer {
  padding: 0 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus .presentation__btn {
  height: 2em;
  width: 2em;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2em;
}

.menus .presentation__like {
  background-color: white !important;
}

body {
  font-family: "Roboto regular";
  margin: 0;
  padding: 0px;
}

.header {
  padding: 1em 1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  position: relative;
}

.header--withback {
  position: relative;
}

.header__logo {
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  color: black;
  position: absolute;
  left: 2em;
}

.restaurantImg {
  max-width: 100%;
  max-height: 32em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em 0 1em;
}

.menu__title {
  font-family: "Shrikhand";
}

.menu__btn {
  height: 2em;
  width: 2em;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__btn:hover::before {
  opacity: 1;
}

.menu__btn:active::before {
  opacity: 1;
}

.menu__btn::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__like {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.menu__btn:hover {
  outline: none;
}

.menu__btn:hover .menu__like--noR {
  opacity: 0;
}

.menu__btn:active .menu__like--noR {
  opacity: 0;
}

.submenus {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 64rem) {
  .submenus {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5em;
  font-weight: normal;
}

.submenu__title::after {
  content: "";
  width: 3em;
  height: 0.25em;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes FadeinUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes FadeinUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.menuItem {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1em;
  border-radius: 0.75em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1em 0;
  -webkit-animation: FadeinUp 1s;
          animation: FadeinUp 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
}

.menuItem__decription {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit;
}

.menuItem__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5em;
  margin-right: 2em;
}

.menuItem__confirmation {
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  margin: -1em -6em -1em -1em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1em;
}

.menuItem:active .menuItem__confirmation {
  margin-right: -1em;
}

.menuItem__checkIcon {
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItem:hover .menuItem__checkIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItem:active .menuItem__checkIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItem__icon {
  color: #99E2D0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 3em 0;
}

.btn__command {
  font-family: "Roboto regular";
  color: white;
  font-size: 1.1em;
  border: 0;
  padding: 0.75em 3em;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  cursor: pointer;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn__command:hover {
  text-decoration: none;
  opacity: 0.85;
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
/*# sourceMappingURL=main.css.map */